* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  width: 100vw;
  background-color: yellowgreen;
}

.grey {
  color: grey;
}

.video-background {
  display: none;
}

@media only screen and (min-width:769px) {

  .img-background {
    display: none;
  }

  .video-background {
    display: block;
  }
}